openapi: 3.0.3
info:
  title: SHIPBUBBLE API
  description: >-
    ## Introduction


    Learn how to integrate Shipbubble's API into your application


    Shipbubble APIS give you access to most of the features available on your
    dashboard and allows you to customize them for use in your desired
    application. It is a RESTful API


    All API endpoints listed in this documentation are relative to


    [**https://api.shipbubble.com/v1**](https://api.shipbubble.com/v1)
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.shipbubble.com/v1
paths:
  /shipping/wallet/balance:
    get:
      tags:
        - Wallet
      summary: Get account's wallet balance
      description: Get account's wallet balance
      operationId: getAccountSWalletBalance
      responses:
        '200':
          description: Get account's wallet balance
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '102'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Tue, 01 Mar 2022 16:07:25 GMT
            ETag:
              schema:
                type: string
                example: W/"66-+qMpNeEOfDXhUh630g0CsBNb6eQ"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin, Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      balance:
                        type: number
                        example: 80124.2
                      country_code:
                        type: string
                        example: NG
                  message:
                    type: string
                    example: Retrieved successfully
                  status:
                    type: string
                    example: success
              examples:
                Get account's wallet balance:
                  value:
                    data:
                      balance: 80124.2
                      country_code: NG
                    message: Retrieved successfully
                    status: success
  /shipping/address/validate:
    post:
      tags:
        - Address Validation
      summary: Validate  address
      description: >-
        ## Validate API 


        Verifies an address by checking whether we have a matching verified
        deliverable address.


        ### Request Body


        | Name | Type | Description |

        | ---------- | --------------- | ---- |

        | **name** | *string* | name of address holder | 

        | **email** | *string* | email address of address holder | 

        | **phone** | *string* | phone number of address holder | 

        | **address** | *string* | address name to be validated |
      operationId: validateAddress
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  example: 15 Babatunde Jose St, Victoria Island, Lagos
                email:
                  type: string
                  example: lebron@james.com
                name:
                  type: string
                  example: Lebron James
                phone:
                  type: string
                  example: '08057575855'
            examples:
              Validate  address:
                value:
                  address: 15 Babatunde Jose St, Victoria Island, Lagos
                  email: lebron@james.com
                  name: Lebron James
                  phone: '08057575855'
      responses:
        '200':
          description: Validate address
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '417'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Fri, 22 Oct 2021 13:48:03 GMT
            ETag:
              schema:
                type: string
                example: W/"1a1-tVXSYCpfY3mrHgdvWSY6GNh5ggE"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      address_code:
                        type: number
                        example: 98794022
                      city:
                        type: string
                        example: Lagos
                      city_code:
                        type: string
                        example: Lagos
                      country:
                        type: string
                        example: Nigeria
                      country_code:
                        type: string
                        example: NG
                      email:
                        type: string
                        example: lebron@james.com
                      formatted_address:
                        type: string
                        example: >-
                          15 Babatunde Jose St, Victoria Island 106104, Lagos,
                          Nigeria
                      latitude:
                        type: number
                        example: 6.436058
                      longitude:
                        type: number
                        example: 3.433361
                      name:
                        type: string
                        example: Lebron James
                      phone:
                        type: string
                        example: '+2348057575855'
                      postal_code:
                        type: string
                        example: '106104'
                      state:
                        type: string
                        example: Lagos
                      state_code:
                        type: string
                        example: LA
                  message:
                    type: string
                    example: Validation successful
                  status:
                    type: string
                    example: success
              examples:
                Validate address:
                  value:
                    data:
                      address_code: 98794022
                      city: Lagos
                      city_code: Lagos
                      country: Nigeria
                      country_code: NG
                      email: lebron@james.com
                      formatted_address: >-
                        15 Babatunde Jose St, Victoria Island 106104, Lagos,
                        Nigeria
                      latitude: 6.436058
                      longitude: 3.433361
                      name: Lebron James
                      phone: '+2348057575855'
                      postal_code: '106104'
                      state: Lagos
                      state_code: LA
                    message: Validation successful
                    status: success
        '422':
          description: Validate address
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '215'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Thu, 21 Oct 2021 22:07:19 GMT
            ETag:
              schema:
                type: string
                example: W/"d7-XckneKWPOzq3zdhOUux23YRZNTM"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                      example: Recipient full name is required
                    example:
                      - Recipient full name is required
                      - Recipient valid email address is required
                      - Recipient phone number is required
                      - Recipient address is required
                  message:
                    type: string
                    example: Invalid request paramters
                  status:
                    type: string
                    example: failed
              examples:
                Validate address:
                  value:
                    errors:
                      - Recipient full name is required
                      - Recipient valid email address is required
                      - Recipient phone number is required
                      - Recipient address is required
                    message: Invalid request paramters
                    status: failed
  /shipping/address:
    get:
      tags:
        - Address Validation
      summary: Get validated addresses
      description: '### Get all validated addresses'
      operationId: getValidatedAddresses
      parameters:
        - name: PerPage
          in: query
          schema:
            type: string
            example: '3'
        - name: Page
          in: query
          schema:
            type: string
            example: '1'
      responses:
        '200':
          description: Get validated addresses / Get validated addresses
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '146'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Thu, 21 Oct 2021 23:50:03 GMT
            ETag:
              schema:
                type: string
                example: W/"92-Vy3h0WQuAbAiea4d1DVzKmYbYEE"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          current:
                            type: number
                            example: 0
                          err:
                            type: string
                            example: Queried page 0 is >= to maximum page number 0
                          perPage:
                            type: number
                            example: 50
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            address_code:
                              type: number
                              example: 84367385
                            address_data:
                              type: object
                              properties:
                                city:
                                  type: string
                                  example: Lagos
                                city_code:
                                  type: string
                                  example: Lagos
                                country:
                                  type: string
                                  example: Nigeria
                                country_code:
                                  type: string
                                  example: NG
                                email:
                                  type: string
                                  example: lebron@james.com
                                formatted_address:
                                  type: string
                                  example: >-
                                    15 Babatunde Jose St, Victoria Island
                                    106104, Lagos, Nigeria
                                name:
                                  type: string
                                  example: Lebron James
                                phone:
                                  type: string
                                  example: '+2348057575855'
                                postal_code:
                                  type: string
                                  example: '106104'
                                state:
                                  type: string
                                  example: Lagos
                                state_code:
                                  type: string
                                  example: LA
                        example:
                          - address_code: 84367385
                            address_data:
                              city: Lagos
                              city_code: Lagos
                              country: Nigeria
                              country_code: NG
                              email: lebron@james.com
                              formatted_address: >-
                                15 Babatunde Jose St, Victoria Island 106104,
                                Lagos, Nigeria
                              name: Lebron James
                              phone: '+2348057575855'
                              postal_code: '106104'
                              state: Lagos
                              state_code: LA
                  message:
                    type: string
                    example: Retrieved successfully
                  status:
                    type: string
                    example: success
              examples:
                Get validated addresses:
                  value:
                    data:
                      pagination:
                        err: Queried page 0 is >= to maximum page number 0
                      results: []
                    message: Retrieved successfully
                    status: success
  /shipping/address/{address_code}:
    get:
      tags:
        - Address Validation
      summary: Get single address
      description: Get single address
      operationId: getSingleAddress
      responses:
        '200':
          description: Get Single Address Data
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '483'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Sat, 21 May 2022 21:26:02 GMT
            ETag:
              schema:
                type: string
                example: W/"1e3-tH16SleFzaH6wh2yUiqMZyChIeE"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin, Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      city:
                        type: string
                        example: Surulere
                      city_code:
                        type: string
                        example: Surulere
                      country:
                        type: string
                        example: Nigeria
                      country_code:
                        type: string
                        example: NG
                      email:
                        type: string
                        example: abon@james.com
                      formatted_address:
                        type: string
                        example: Alh. Masha Rd, Surulere 101241, Lagos, Nigeria
                      latitude:
                        type: number
                        example: 6.499872799999999
                      longitude:
                        type: number
                        example: 3.3609343
                      name:
                        type: string
                        example: Abon Ayodeji
                      phone:
                        type: string
                        example: '+2347079657900'
                      postal_code:
                        type: string
                        example: '101241'
                      state:
                        type: string
                        example: Lagos
                      state_code:
                        type: string
                        example: LA
                      street:
                        type: string
                        example: >-
                          Teslim Balogun Stadium, Alh. Masha Road, Lagos,
                          Nigeria
                      street_no:
                        type: string
                        example: '1'
                  message:
                    type: string
                    example: Address updated successfully
                  status:
                    type: string
                    example: success
              examples:
                Get Single Address Data:
                  value:
                    data:
                      city: Surulere
                      city_code: Surulere
                      country: Nigeria
                      country_code: NG
                      email: abon@james.com
                      formatted_address: Alh. Masha Rd, Surulere 101241, Lagos, Nigeria
                      latitude: 6.499872799999999
                      longitude: 3.3609343
                      name: Abon Ayodeji
                      phone: '+2347079657900'
                      postal_code: '101241'
                      state: Lagos
                      state_code: LA
                      street: Teslim Balogun Stadium, Alh. Masha Road, Lagos, Nigeria
                      street_no: '1'
                    message: Address updated successfully
                    status: success
    patch:
      tags:
        - Address Validation
      summary: Edit address
      description: Edit address
      operationId: editAddress
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: abon@james.com
                name:
                  type: string
                  example: Abon Ayodeji
                phone:
                  type: string
                  example: '07079657900'
            examples:
              Edit address:
                value:
                  email: abon@james.com
                  name: Abon Ayodeji
                  phone: '07079657900'
      responses:
        '200':
          description: Edit Address
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '448'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Sun, 31 Oct 2021 00:17:26 GMT
            ETag:
              schema:
                type: string
                example: W/"1c0-PjWkWEg77MZT+pDrR8b3MeLFnmk"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      city:
                        type: string
                        example: Lagos
                      city_code:
                        type: string
                        example: Lagos
                      country:
                        type: string
                        example: Nigeria
                      country_code:
                        type: string
                        example: NG
                      email:
                        type: string
                        example: abon@james.com
                      formatted_address:
                        type: string
                        example: >-
                          15 Babatunde Jose St, Victoria Island 106104, Lagos,
                          Nigeria
                      latitude:
                        type: number
                        example: 6.436058
                      longitude:
                        type: number
                        example: 3.433361
                      name:
                        type: string
                        example: Abon Ayodeji
                      phone:
                        type: string
                        example: '+2347079657900'
                      postal_code:
                        type: string
                        example: '106104'
                      state:
                        type: string
                        example: Lagos
                      state_code:
                        type: string
                        example: LA
                      street:
                        type: string
                        example: Babatunde Jose Street
                      street_no:
                        type: string
                        example: '15'
                  message:
                    type: string
                    example: Address updated successfully
                  status:
                    type: string
                    example: success
              examples:
                Edit Address:
                  value:
                    data:
                      city: Lagos
                      city_code: Lagos
                      country: Nigeria
                      country_code: NG
                      email: abon@james.com
                      formatted_address: >-
                        15 Babatunde Jose St, Victoria Island 106104, Lagos,
                        Nigeria
                      latitude: 6.436058
                      longitude: 3.433361
                      name: Abon Ayodeji
                      phone: '+2347079657900'
                      postal_code: '106104'
                      state: Lagos
                      state_code: LA
                      street: Babatunde Jose Street
                      street_no: '15'
                    message: Address updated successfully
                    status: success
    parameters:
      - name: address_code
        in: path
        required: true
        schema:
          type: string
          example: '83579030'
  /shipping/labels/boxes:
    get:
      tags:
        - Package Boxes
      summary: Get package box sizes
      description: Get package box sizes
      operationId: getPackageBoxSizes
      responses:
        '200':
          description: Get package box sizes
          headers:
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '703'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Mon, 01 Nov 2021 14:48:05 GMT
            ETag:
              schema:
                type: string
                example: W/"2bf-6iVqyJf+BTN7LKGeRH0cpa44B/8"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        box_size_id:
                          type: number
                          example: 27459899
                        description_image_url:
                          type: string
                          example: >-
                            https://res.cloudinary.com/delivry/image/upload/v1635776054/package_boxes/tiny_box_ie9dob.jpg
                        height:
                          type: number
                          example: 2
                        length:
                          type: number
                          example: 5
                        max_weight:
                          type: number
                          example: 5
                        name:
                          type: string
                          example: tiny box
                        width:
                          type: number
                          example: 5
                    example:
                      - box_size_id: 27459899
                        description_image_url: >-
                          https://res.cloudinary.com/delivry/image/upload/v1635776054/package_boxes/tiny_box_ie9dob.jpg
                        height: 2
                        length: 5
                        max_weight: 5
                        name: tiny box
                        width: 5
                      - box_size_id: 44174253
                        description_image_url: >-
                          https://res.cloudinary.com/delivry/image/upload/v1635776059/package_boxes/medium_box_v1oisg.png
                        height: 10
                        length: 20
                        max_weight: 20
                        name: medium box
                        width: 20
                      - box_size_id: 42172412
                        description_image_url: >-
                          https://res.cloudinary.com/delivry/image/upload/v1635776049/package_boxes/big_box_wrcubo.png
                        height: 2
                        length: 40
                        max_weight: 40
                        name: big box
                        width: 40
                  message:
                    type: string
                    example: Retrieved successfully
                  status:
                    type: string
                    example: success
              examples:
                Get package box sizes:
                  value:
                    data:
                      - box_size_id: 27459899
                        description_image_url: >-
                          https://res.cloudinary.com/delivry/image/upload/v1635776054/package_boxes/tiny_box_ie9dob.jpg
                        height: 2
                        length: 5
                        max_weight: 5
                        name: tiny box
                        width: 5
                      - box_size_id: 44174253
                        description_image_url: >-
                          https://res.cloudinary.com/delivry/image/upload/v1635776059/package_boxes/medium_box_v1oisg.png
                        height: 10
                        length: 20
                        max_weight: 20
                        name: medium box
                        width: 20
                      - box_size_id: 42172412
                        description_image_url: >-
                          https://res.cloudinary.com/delivry/image/upload/v1635776049/package_boxes/big_box_wrcubo.png
                        height: 2
                        length: 40
                        max_weight: 40
                        name: big box
                        width: 40
                    message: Retrieved successfully
                    status: success
  /shipping/labels/categories:
    get:
      tags:
        - Shipping Rates
      summary: Get label categories
      description: Retrieve a list of all label item categories
      operationId: getLabelCategories
      responses:
        '200':
          description: Get label categories
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '361'
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Sat, 13 Nov 2021 12:33:36 GMT
            ETag:
              schema:
                type: string
                example: W/"169-dsVrRIi//FtRH0NC+dtoe9dNTvo"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Vary:
              schema:
                type: string
                example: Origin, Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                          example: Accessories
                        category_id:
                          type: number
                          example: 90097994
                    example:
                      - category: Accessories
                        category_id: 90097994
                      - category: Electronics
                        category_id: 3035980
                      - category: Electronic gadgets
                        category_id: 70830897
                      - category: Jewelry
                        category_id: 66484941
                      - category: Food
                        category_id: 69709726
                      - category: Fashion wears
                        category_id: 98246239
                  message:
                    type: string
                    example: Retrieved successfully
                  status:
                    type: string
                    example: success
              examples:
                Get label categories:
                  value:
                    data:
                      - category: Accessories
                        category_id: 90097994
                      - category: Electronics
                        category_id: 3035980
                      - category: Electronic gadgets
                        category_id: 70830897
                      - category: Jewelry
                        category_id: 66484941
                      - category: Food
                        category_id: 69709726
                      - category: Fashion wears
                        category_id: 98246239
                    message: Retrieved successfully
                    status: success
  /shipping/couriers:
    get:
      tags:
        - Shipping Rates
      summary: List available carriers
      description: Fetch a list or available couriers on Getdelivry integration channel
      operationId: listAvailableCarriers
      responses:
        '200':
          description: List available carriers
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Sun, 11 Sep 2022 14:17:40 GMT
            ETag:
              schema:
                type: string
                example: W/"19c2-aThG5OQGTe8+Nuselji7uh/8jY0"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Set-Cookie:
              schema:
                type: string
                example: >-
                  connect.sid=s%3A4tKtk-ybUF7kvMjylZCBP2ubh6UP_INV.M9%2BQcTXa8fv6lMgpQz7kPF%2FEz6VVLM%2BScj%2F4ha%2Bzr1Y;
                  Path=/; Expires=Sun, 11 Sep 2022 14:22:40 GMT; HttpOnly
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        domestic:
                          type: boolean
                          example: true
                        international:
                          type: boolean
                          example: true
                        name:
                          type: string
                          example: Sendbox
                        on_demand:
                          type: boolean
                          example: true
                        origin_country:
                          type: string
                          example: NG
                        package_categories:
                          type: array
                          items:
                            type: object
                            properties:
                              category:
                                type: string
                                example: accessories
                              id:
                                type: number
                                example: 90097994
                          example:
                            - category: accessories
                              id: 90097994
                            - category: electronics
                              id: 3035980
                        pin_image:
                          type: string
                          example: >-
                            https://res.cloudinary.com/delivry/image/upload/v1637024201/courier_images/sendbox_ocoaqm.png
                        service_code:
                          type: string
                          example: sendbox
                        status:
                          type: string
                          example: operational
                    example:
                      - domestic: true
                        international: true
                        name: Sendbox
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637024201/courier_images/sendbox_ocoaqm.png
                        service_code: sendbox
                        status: operational
                      - domestic: true
                        international: false
                        name: Kwik
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637024346/courier_images/kwik_ymsjvz.png
                        service_code: kwik
                        status: operational
                      - domestic: true
                        international: false
                        name: Redstar
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637023902/courier_images/LONE-STAR_avxsur.jpg
                        service_code: red_star_courier
                        status: operational
                      - domestic: true
                        international: false
                        name: Shap Shap
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637609398/courier_images/shap_shap_klvcv8.png
                        service_code: shap_shap
                        status: operational
                      - domestic: true
                        international: false
                        name: GIG logistics
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1638640741/courier_images/gig_logo_wsxvwb.png
                        service_code: gigl
                        status: operational
                      - domestic: true
                        international: false
                        name: Darum NG
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639332277/courier_images/darum_orxysd.png
                        service_code: darum
                        status: operational
                      - domestic: true
                        international: false
                        name: Test courier 1
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639874327/courier_images/getdelivry_yz3asx.png
                        service_code: test_1_courier
                        status: operational
                      - domestic: true
                        international: false
                        name: Test courier 2
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639874327/courier_images/getdelivry_yz3asx.png
                        service_code: test_2_courier
                        status: operational
                      - domestic: true
                        international: false
                        name: Test courier 3
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639874327/courier_images/getdelivry_yz3asx.png
                        service_code: test_3_courier
                        status: operational
                      - domestic: true
                        international: true
                        name: Aramex
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1640220606/courier_images/aramex_yexfvk.jpg
                        service_code: aramex
                        status: operational
                      - domestic: true
                        international: false
                        name: K-Express
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1641508524/courier_images/kexpress_hxyfrr.png
                        service_code: k-express
                        status: operational
                      - domestic: true
                        international: false
                        name: TruQ
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1643065457/courier_images/blueLogo.9da2e90_jeuxh8.png
                        service_code: truq
                        status: operational
                      - domestic: true
                        international: true
                        name: DHL Nigeria
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639728337/courier_images/dhl_logo_xupbkl.png
                        service_code: dhl-nigeria
                        status: operational
                      - domestic: true
                        international: false
                        name: FTD Logistics
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1646602605/courier_images/ftd_logo_m06bkc.png
                        service_code: ftd-logistics
                        status: operational
                      - domestic: true
                        international: false
                        name: Speedaf Express
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1647288004/courier_images/speedaf_logo_vq1q2q.png
                        service_code: speedaf-express
                        status: operational
                      - domestic: true
                        international: false
                        name: Sendstack
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1653144587/courier_images/sendstack_ijfbxw.png
                        service_code: sendstack
                        status: operational
                      - domestic: true
                        international: false
                        name: Errand360
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1653162299/courier_images/errand360_oeh59g.png
                        service_code: errand360
                        status: operational
                      - domestic: true
                        international: true
                        name: Topship
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1659021064/courier_images/topship_ixpqdt.jpg
                        service_code: topship
                        status: operational
                  message:
                    type: string
                    example: Retrieved successfully
                  status:
                    type: string
                    example: success
              examples:
                List available carriers:
                  value:
                    data:
                      - domestic: true
                        international: true
                        name: Sendbox
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637024201/courier_images/sendbox_ocoaqm.png
                        service_code: sendbox
                        status: operational
                      - domestic: true
                        international: false
                        name: Kwik
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637024346/courier_images/kwik_ymsjvz.png
                        service_code: kwik
                        status: operational
                      - domestic: true
                        international: false
                        name: Redstar
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637023902/courier_images/LONE-STAR_avxsur.jpg
                        service_code: red_star_courier
                        status: operational
                      - domestic: true
                        international: false
                        name: Shap Shap
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1637609398/courier_images/shap_shap_klvcv8.png
                        service_code: shap_shap
                        status: operational
                      - domestic: true
                        international: false
                        name: GIG logistics
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1638640741/courier_images/gig_logo_wsxvwb.png
                        service_code: gigl
                        status: operational
                      - domestic: true
                        international: false
                        name: Darum NG
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639332277/courier_images/darum_orxysd.png
                        service_code: darum
                        status: operational
                      - domestic: true
                        international: false
                        name: Test courier 1
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639874327/courier_images/getdelivry_yz3asx.png
                        service_code: test_1_courier
                        status: operational
                      - domestic: true
                        international: false
                        name: Test courier 2
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639874327/courier_images/getdelivry_yz3asx.png
                        service_code: test_2_courier
                        status: operational
                      - domestic: true
                        international: false
                        name: Test courier 3
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639874327/courier_images/getdelivry_yz3asx.png
                        service_code: test_3_courier
                        status: operational
                      - domestic: true
                        international: true
                        name: Aramex
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1640220606/courier_images/aramex_yexfvk.jpg
                        service_code: aramex
                        status: operational
                      - domestic: true
                        international: false
                        name: K-Express
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1641508524/courier_images/kexpress_hxyfrr.png
                        service_code: k-express
                        status: operational
                      - domestic: true
                        international: false
                        name: TruQ
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1643065457/courier_images/blueLogo.9da2e90_jeuxh8.png
                        service_code: truq
                        status: operational
                      - domestic: true
                        international: true
                        name: DHL Nigeria
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1639728337/courier_images/dhl_logo_xupbkl.png
                        service_code: dhl-nigeria
                        status: operational
                      - domestic: true
                        international: false
                        name: FTD Logistics
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1646602605/courier_images/ftd_logo_m06bkc.png
                        service_code: ftd-logistics
                        status: operational
                      - domestic: true
                        international: false
                        name: Speedaf Express
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1647288004/courier_images/speedaf_logo_vq1q2q.png
                        service_code: speedaf-express
                        status: operational
                      - domestic: true
                        international: false
                        name: Sendstack
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1653144587/courier_images/sendstack_ijfbxw.png
                        service_code: sendstack
                        status: operational
                      - domestic: true
                        international: false
                        name: Errand360
                        on_demand: true
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1653162299/courier_images/errand360_oeh59g.png
                        service_code: errand360
                        status: operational
                      - domestic: true
                        international: true
                        name: Topship
                        on_demand: false
                        origin_country: NG
                        package_categories:
                          - category: accessories
                            id: 90097994
                          - category: electronics
                            id: 3035980
                        pin_image: >-
                          https://res.cloudinary.com/delivry/image/upload/v1659021064/courier_images/topship_ixpqdt.jpg
                        service_code: topship
                        status: operational
                    message: Retrieved successfully
                    status: success
  /shipping/fetch_rates:
    post:
      tags:
        - Shipping Rates
      summary: Request shipping rates
      description: >-
        The Rates API allows you to request a list of shipping rates for a
        requested label shipment. The response will also indicate which Courier
        is the cheapest, fastest and best value for money, which is a
        combination of speed, price and reliability.


        #### Shipping Labels are synonymous to Orders


        ### Request Body


        | Name | Type |

        | --- | --- |

        | **sender_address_code** | *int* |

        | **reciever_address_code** | *int* |

        | **pickup_date** | *string* |

        | **package_type** | *string* |

        | **package_items** | *array* |

        | **package_dimensions** | *array* |

        | delivery_instructions | *string* |


        The total value found in each courier rate object is inclusive of the
        vat value. **only charge your customers with the total value amount**


        Each rate object comes with a **service_type** property.


        There are two types of delivery types, **pickup** and **dropoff**.


        If a service type is marked as **pickup**, it means the courier would
        pickup the package at sender's address and deliver at receiver's address


        If a service type is marked as **dropoff**, it means that the sender
        must deliver package to courier dropoff station, and receiver must
        pickup up package at pickup station in this case, a **dropoff station**
        and **pickup station** object will be included in the response
        containing , will be displayed containing address, phone of dropoff
        station.


        Check example response for object definition
      operationId: requestShippingRates
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: number
                  example: 2178251
                delivery_instructions:
                  type: string
                  example: Please provide additional instructions for your package
                package_dimension:
                  type: object
                  properties:
                    height:
                      type: number
                      example: 10
                    length:
                      type: number
                      example: 12
                    width:
                      type: number
                      example: 10
                package_items:
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                        example: This drink is lit
                      name:
                        type: string
                        example: Jameson
                      quantity:
                        type: number
                        example: 2
                      unit_amount:
                        type: number
                        example: 5000
                      unit_weight:
                        type: number
                        example: 1
                  example:
                    - description: This drink is lit
                      name: Jameson
                      quantity: 2
                      unit_amount: 5000
                      unit_weight: 1
                    - description: XO na champion
                      name: Hennesy
                      quantity: 2
                      unit_amount: 150000
                      unit_weight: 1
                pickup_date:
                  type: string
                  example: '2023-06-15'
                reciever_address_code:
                  type: number
                  example: 34289748
                sender_address_code:
                  type: number
                  example: 44906597
            examples:
              Request shipping rates:
                value: "{\r\n    \"sender_address_code\":1309853,\r\n    \"reciever_address_code\":51097549,\r\n    \"pickup_date\":\"2022-12-19\",\r\n    \"package_type\":90097994,\r\n    \"package_items\":{{items_to_be_delivered}},\r\n    \"box_size_id\":27459899,\r\n    \"message\":\"Please provide additional instructions for your package\"\r\n}"
      responses:
        '200':
          description: Request shipping rates
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri
                  'self';block-all-mixed-content;font-src 'self' https:
                  data:;frame-ancestors 'self';img-src 'self' data:;object-src
                  'none';script-src 'self';script-src-attr 'none';style-src
                  'self' https: 'unsafe-inline';upgrade-insecure-requests
            Date:
              schema:
                type: string
                example: Sun, 16 Jan 2022 21:17:52 GMT
            ETag:
              schema:
                type: string
                example: W/"13d9-gOlwSb8T9W7Uul7GNv4t+fJJGq8"
            Expect-CT:
              schema:
                type: string
                example: max-age=0
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Origin, Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cheapest_courier:
                        type: object
                        properties:
                          courier_id:
                            type: string
                            example: shap_shap
                          courier_image:
                            type: string
                            example: >-
                              https://res.cloudinary.com/delivry/image/upload/v1637609398/courier_images/shap_shap_klvcv8.png
                          courier_name:
                            type: string
                            example: Shap Shap
                          currency:
                            type: string
                            example: ₦
                          delivery_eta:
                            type: string
                            example: Shap Lite
                          delivery_eta_time:
                            type: string
                            example: '2022-12-20 11:30:00'
                          discount:
                            type: object
                            properties:
                              discounted:
                                type: number
                                example: 0
                              percentage:
                                type: number
                                example: 0
                              symbol:
                                type: string
                                example: '%'
                          dropoff_station:
                            nullable: true
                            example: null
                          insurance:
                            type: object
                            properties:
                              code:
                                type: string
                                example: not available
                              fee:
                                type: number
                                example: 0
                          pickup_station:
                            nullable: true
                            example: null
                          service_code:
                            type: string
                            example: shap_shap
                          service_type:
                            type: string
                            example: pickup
                          total:
                            type: number
                            example: 120
                          vat:
                            type: number
                            example: 8
                          waybill:
                            type: boolean
                            example: false
                      checkout_data:
                        type: object
                        properties:
                          package_amount:
                            type: string
                            example: ₦1,510,000
                          package_weight:
                            type: string
                            example: 2.00KG
                          pickup_time:
                            type: string
                            example: December 19th 2022, 10:57:44 PM
                          ship_from:
                            type: object
                            properties:
                              address:
                                type: string
                                example: Alh. Masha Rd, Surulere 101241, Lagos, Nigeria
                              email:
                                type: string
                                example: lebron@james.com
                              name:
                                type: string
                                example: Lebron James
                              phone:
                                type: string
                                example: '+2348057575855'
                          ship_to:
                            type: object
                            properties:
                              address:
                                type: string
                                example: >-
                                  Kafayat Abdulrasaq Street, Lekki Phase I
                                  106104, Logos, Nigeria
                              email:
                                type: string
                                example: lebron@james.com
                              name:
                                type: string
                                example: Lebron James
                              phone:
                                type: string
                                example: '+2348057575855'
                      couriers:
                        type: array
                        items:
                          type: object
                          properties:
                            courier_id:
                              type: string
                              example: darum
                            courier_image:
                              type: string
                              example: >-
                                https://res.cloudinary.com/delivry/image/upload/v1639332277/courier_images/darum_orxysd.png
                            courier_name:
                              type: string
                              example: Darum NG
                            currency:
                              type: string
                              example: ₦
                            delivery_eta:
                              type: string
                              example: Same day delivery
                            delivery_eta_time:
                              type: string
                              example: '2022-12-23 10:57:44'
                            discount:
                              type: object
                              properties:
                                discounted:
                                  type: number
                                  example: 0
                                percentage:
                                  type: number
                                  example: 0
                                symbol:
                                  type: string
                                  example: '%'
                            dropoff_station:
                              type: object
                              nullable: true
                              example: null
                            insurance:
                              type: object
                              properties:
                                code:
                                  type: string
                                  example: not available
                                fee:
                                  type: number
                                  example: 0
                            pickup_station:
                              type: object
                              nullable: true
                              example: null
                            service_code:
                              type: string
                              example: darum
                            service_type:
                              type: string
                              example: pickup
                            total:
                              type: number
                              example: 1842
                            vat:
                              type: number
                              example: 127
                            waybill:
                              type: boolean
                              example: false
                        example:
                          - courier_id: darum
                            courier_image: >-
                              https://res.cloudinary.com/delivry/image/upload/v1639332277/courier_images/darum_orxysd.png
                            courier_name: Darum NG
                            currency: ₦
                            delivery_eta: Same day delivery
                            discount:
                              discounted: 0
                              percentage: 0
                              symbol: '%'
                            dropoff_station: null
                            insurance:
                              code: not available
                              fee: 0
                            pickup_station: null
                            service_code: darum
                            service_type: pickup
                            total: 1842
                            vat: 127
                            waybill: false
                          - courier_id: gigl
                            courier_image: >-
                              https://res.cloudinary.com/delivry/image/upload/v1638640741/courier_images/gig_logo_wsxvwb.png
                            courier_name: GIG logistics
                            currency: ₦
                            delivery_eta: Same day delivery
                            discount:
                              discounted: 74
                              percentage: 5
                              symbol: '%'
                            dropoff_station: null
                            insurance:
                              code: not available
                              fee: 0
                            pickup_station: null
                            service_code: gigl
                            service_type: pickup
                            total: 1484
                            vat: 102
                            waybill: true
                          - courier_image: >-
                              https://res.cloudinary.com/delivry/image/upload/v1641508524/courier_images/kexpress_hxyfrr.png
                            courier_name: K-Express
                            currency: ₦
                            delivery_eta: Between 2 - 5 working days
                            delivery_eta_time: '2022-12-23 10:57:44'
                            discount:
                              discounted: 106
                              percentage: 15
                              symbol: '%'
                            dropoff_station:
                              address: >-
                                12 Gbaja Street , Opposite St. Anthony Catholic
                                Church And Adjacent Gbaja Market And Shopping
                                Mall.
                              name: KOS OJUELEGBA SC
                              phone: '09085493903'
                            insurance:
                              code: not available
                              fee: 0
                            pickup_station:
                              address: >-
                                Block 11 Suite 2, Simpson Street Sura Shopping
                                Complex Lagos Island
                              name: KOS SURA SC 001
                              phone: '08185244595'
                            service_code: k-express
                            service_type: dropoff
                            total: 709
                            vat: 49
                            waybill: true
                          - courier_id: kwik
                            courier_image: https://www.netflix.com/browse
                            courier_name: Kwik
                            currency: ₦
                            discount:
                              discounted: 351
                              percentage: 15
                              symbol: '%'
                            dropoff_station: null
                            insurance:
                              code: not available
                              fee: 0
                            pickup_station: null
                            service_code: kwik
                            service_type: pickup
                            total: 2341.3
                            vat: 161
                            waybill: false
                          - courier_id: red_star_courier
                            courier_image: >-
                              https://res.cloudinary.com/delivry/image/upload/v1637023902/courier_images/LONE-STAR_avxsur.jpg
                            courier_name: Redstar
                            currency: ₦
                            delivery_eta: Between 12 - 48 hours
                            delivery_eta_time: '2022-12-20 10:57:44'
                            discount:
                              discounted: 151
                              percentage: 20
                              symbol: '%'
                            dropoff_station: null
                            insurance:
                              code: not available
                              fee: 0
                            pickup_station: null
                            service_code: red_star_courier
                            service_type: pickup
                            total: 752.75
                            vat: 51.75
                            waybill: true
                          - courier_id: rate_key_95a681048b2de04dcc50660f29da0562
                            courier_image: https://www.netflix.com/browse
                            courier_name: Sendbox
                            currency: ₦
                            delivery_eta: Between 5 - 7 business days
                            delivery_eta_time: '2022-01-23T21:17:46.905266'
                            discount:
                              discounted: 0
                              percentage: 0
                              symbol: '%'
                            dropoff_station: null
                            insurance:
                              code: not available
                              fee: 0
                            pickup_station: null
                            service_code: sendbox
                            service_type: pickup
                            total: 1571
                            vat: 108
                            waybill: false
                          - courier_id: shap_shap
                            courier_image: >-
                              https://res.cloudinary.com/delivry/image/upload/v1637609398/courier_images/shap_shap_klvcv8.png
                            courier_name: Shap Shap
                            currency: ₦
                            delivery_eta: Shap Lite
                            delivery_eta_time: '2022-12-20 11:30:00'
                            discount:
                              discounted: 0
                              percentage: 0
                              symbol: '%'
                            dropoff_station: null
                            insurance:
                              code: not available
                              fee: 0
                            pickup_station: null
                            service_code: shap_shap
                            service_type: pickup
                            total: 120
                            vat: 8
                            waybill: false
                      fastest_courier:
                        type: object
                        properties:
                          courier_id:
                            type: string
                            example: rate_key_95a681048b2de04dcc50660f29da0562
                          courier_image:
                            type: string
                            example: https://www.netflix.com/browse
                          courier_name:
                            type: string
                            example: Sendbox
                          currency:
                            type: string
                            example: ₦
                          delivery_eta:
                            type: string
                            example: Between 5 - 7 business days
                          delivery_eta_time:
                            type: string
                            example: '2022-01-23T21:17:46.905266'
                          discount:
                            type: object
                            properties:
                              discounted:
                                type: number
                                example: 0
                              percentage:
                                type: number
                                example: 0
                              symbol:
                                type: string
                                example: '%'
                          dropoff_station:
                            nullable: true
                            example: null
                          insurance:
                            type: object
                            properties:
                              code:
[...]
